*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
  font-family: Comfortaa, sans-serif;
  /* background-color: #79797a; */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --background-header: rgba(255, 255, 255, 0.2);
  --text-dark: #232427;
  --text-light: #f9f9f9;
  --accent-blue: #bed0d2;
  --text-secondary: #979797;
  --text-secondary-3: #cacaca;
  --coffee: #a8a198;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 100; */
  width: 100%;
  background: var(--background-header);
  backdrop-filter: blur(50px);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu {
  min-width: 830px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-dark);
}

.menu-item:not(:last-child) {
  margin-right: 52px;
}

.menu-link {
  color: var(--text-dark);
  /* Desktop/Menu */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.017px;
}

.menu-link:hover {
  color: orange;
}

.cart-link {
  margin-left: auto;
  margin-right: 24px;
}

.cart {
  width: 24px;
  height: 22px;
}

.translate-btn {
  color: var(--text-dark);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

.translate-btn:hover {
  color: orange;
}

.footer {
  border-top: 2px solid var(--coffee);
}

.container-footer {
  padding-left: 0;
  padding-right: 0;
  padding-top: 32px;
  padding-bottom: 16px;
}

.container-footer-secondary {
  width: 1062px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 119px;
  margin-right: 119px;
}

.footer-privacy {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.footer-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.footer-text:not(:last-child) {
  margin-bottom: 12px;
}

.subscription-title {
  margin-bottom: 27px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rights-reserved {
  display: flex;
  justify-content: center;
  margin-top: 46px;
  color: var(--text-dark);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  margin-right: 55px;
}

.suptitle {
  margin-bottom: 32px;
  color: var(--text-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 40px;
  color: var(--text-dark);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2; /* 38.4px */
  letter-spacing: 0.038px;
  text-transform: uppercase;
}

.chevron-btn {
  color: var(--text-dark);
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  border: 1px solid var(--text-dark);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
  align-items: center;
  background-color: transparent;
}

.chevron-btn:hover .chevron-svg {
  transform: translatex(5px);
}

.chevron-svg {
  width: 32px;
  height: 32px;
  margin-left: 24px;
  transition: transform 100ms ease-in-out;
}

.nonsense-svg {
  position: fixed;
  top: 50%;
  left: 99%;
  transform: translate(-99%, -50%);
}

/* ==================================== MAIN-LAYOUT ==================================== */
.main-hero {
  background-color: var(--coffee);
}

.container-hero {
  width: 100%;
  background-image: url("../images/img/overlay.jpg");
  background-size: cover;
}

.hero {
  padding-top: 295px;
  padding-bottom: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  color: var(--text-light);
  font-size: 75px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.hero-text {
  color: var(--text-light);
  padding: 8px;
  width: 520px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--text-dark);
  min-width: 302px;
  min-height: 65px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 16px 104px;
  border: none;
  border-radius: 16px;
  background: var(--accent-blue);
}

.advantages-section {
  margin-top: 80px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 24px;
}

.advantages-block {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  flex-basis: calc((100% - 24px) / 2);
  border-left: 1px solid var(--coffee);
}

.advantages-block-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.advantages-block-last {
  max-width: 628px;
  border-bottom: 1px solid var(--coffee);
  margin-top: 40px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-title {
  color: var(--coffee);
  font-family: Comfortaa;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
  padding-top: 13px;
  margin-left: 16px;
}

.advantages-text {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.024px;
}

.carousel-section {
  margin-top: 64px;
}

.chevron-btn-carousel {
  margin-bottom: 24px;
}

.carousel-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.carousel-list-item {
  flex-basis: calc((100% - 72px) / 100);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.carousel-list-item:hover {
  transform: scale(1.03);
}

.carousel-list-img {
  border-radius: 16px;
}

.carousel-list-img:hover {
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.05);
}

.carousel-slider {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.inst-section-container {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 80px;
}

.inst-block {
  display: flex;
  gap: 32px;
}

.inst-block-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inst-img {
  border-radius: 10px;
}

.inst-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inst-title {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
  margin-top: 39px;
}

.inst-text {
  color: var(--text-dark);
  width: 382px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
  margin-top: 69px;
  margin-bottom: 75px;
}

/* ==================================== //MAIN-LAYOUT ==================================== */
/* ==================================== ABOUT US ==================================== */
.container-company {
  margin-top: 167px;
}

.container-nav {
  margin-bottom: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.container-nav-link {
  padding: 4px 0;
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.017px;
}

.about-company-block {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about-company-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-company-text {
  color: var(--text-dark);
  /* Desktop/Body */
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
}

.about-company-gallery-list {
  display: flex;
  justify-content: space-between;
}

.about-company-info-secondary {
  margin-bottom: 64px;
}

.about-company-info-text {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
  margin-top: 24px;
}

.about-company-info-list {
  margin-bottom: 32px;
}

.about-company-info-item {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
  margin-left: 30px;
}

.produce {
  border-top: 1px solid var(--text-secondary);
  border-bottom: 1px solid var(--text-secondary);
}

.container-produce {
  padding: 48px 0;
}

.produce-img-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.produce-text {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
}

.produce-text:not(:last-child) {
  margin-bottom: 8px;
}

.container-advantages-section {
  padding-bottom: 80px;
}

/* ==================================== //ABOUT US ==================================== */
/* ==================================== CAREER ==================================== */
.container-career {
  margin-top: 167px;
}

.career-block {
  display: flex;
  justify-content: space-between;
}

.career-text {
  width: 519px;
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
}

.career-text:not(:last-child) {
  margin-bottom: 24px;
}

.career-form-block {
  width: 628px;
}

.career-form {
  display: flex;
  flex-direction: column;
}

.career-form-label {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.6px;
  margin-left: 17px;
}

.career-form-input {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.6px;
  padding-left: 16px;
  width: 628px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid var(--coffee);
  margin-bottom: 48px;
  outline-color: var(--text-dark);
}

.career-form-label-textarea {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
  margin-left: 17px;
}

.career-form-input-textarea {
  color: var(--text-dark);
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
  padding-left: 16px;
  padding-top: 15px;
  width: 628px;
  height: 296px;
  border-radius: 15px;
  border: 1px solid var(--coffee);
  resize: none;
  outline-color: var(--text-dark);
}

.input-file-span {
  position: relative;
}

.input-file-svg {
  cursor: pointer;
  position: absolute;
  top: -280px;
  left: 590px;
}

.custom-file input[type=file] {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.career-textarea-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.6; /* 266.667% */
  letter-spacing: 0.36px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.career-form-btn {
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 16px 0;
  width: 281px;
  height: 64px;
  border-radius: 16px;
  border: none;
  background: var(--accent-blue);
  color: var(--text-dark);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

/* ==================================== //CAREER ==================================== */
/* ==================================== PROJECTS ==================================== */
.projects-container {
  margin-top: 167px;
}

.projects-block-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 23px;
}

.projects-block-item {
  flex-basis: calc((100% - 46px) / 3);
}

.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.projects-block-title {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
}

.projects-block-text {
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

/* ==================================== //PROJECTS ==================================== *//*# sourceMappingURL=main.css.map */