/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Comfortaa;

  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.container {
  width: 1440px;
  padding: 0 80px;
  margin-left: auto;
  margin-right: auto;
}

.header-border {
}

.container-header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 80px;
  align-items: flex-start;
  gap: 8px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
}

.link-header {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.list {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 52px;
}

.list-secondary {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.list-pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-items {
  gap: 24px;
  position: relative;
}

.translate-block {
  margin-left: 50px;
  margin-top: 24px;
  position: absolute;
  width: 65px;
  height: 120px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 0px rgba(194, 189, 183, 0.45);
}

.translate-block-list {
  list-style: none;

  padding-top: 16px;
}

.translate-block-list-li:not(:last-child) {
  margin-bottom: 16px;
}

.translate-block-list__item {
  border-bottom: 1px solid #cacaca;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}
.translate-block-list__item:hover {
  cursor: pointer;
  background: rgba(168, 161, 152, 0.7);
}

.translate-block-list__item--link {
  text-decoration: none;
  color: black;
}

.additional-header {
  position: absolute;
  margin-left: -590px;
  margin-top: 30px;
  width: 252px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 0px rgba(194, 189, 183, 0.45);
}

.additional-header-list {
  list-style: none;
}

.additional-header-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
}
.additional-header-list__item:first-child:hover {
  cursor: pointer;
  background: rgba(168, 161, 152, 0.7);
  border-radius: 8px 8px 0 0;
}
.additional-header-list__item:last-child:hover {
  cursor: pointer;
  background: rgba(168, 161, 152, 0.7);
  border-radius: 0 0 8px 8px;
}

.additional-header-list__item:not(:last-child) {
  border-bottom: 1px solid #cacaca;
}

.additional-header-list__item--link {
  text-decoration: none;
  color: black;
}


.nonsense-block {
  position: relative;
}

.nonsense-hr {
  position: fixed;
  border: 1px solid #a8a198;
  width: 1100px;
  transform: rotate(90deg);
  margin-top: 500px;
  margin-left: 69.4%;
}

.nonsense-svg {
  position: fixed;
  margin-top: 500px;
  margin-left: 97%;
}

.main-container {
  padding: 296px 421px 254px;
  width: 600px;
  height: 350px;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  background-repeat: repeat;
  background-position: 100%;
  background-size: contain;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  background-image: url(./images/img/overlay.jpg);
}

.main-title {
  color: #f9f9f9;

  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-title-text {
  color: #f9f9f9;
  text-align: center;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.title-button {
  width: 300px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  background: #bed0d2;
  border: none;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}
.title-button:hover {
  transform: scale(1.03);
}

.title-button-text {
  color: #232427;

  font-family: Comfortaa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
} */

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
  margin: 0; /* Remove the margin in all browsers. */
  font-family: Comfortaa, sans-serif;
  /* background-color: #79797a; */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/* ==================================== //MODERN NORMALIZE ==================================== */

:root {
  --background-header: rgba(255, 255, 255, 0.2);
  --text-dark: #232427;
  --text-light: #f9f9f9;
  --accent-blue: #bed0d2;
  --text-secondary: #979797;
  --coffee: #a8a198;
}

/* ==================================== COMPONENTS ==================================== */
.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  margin-right: 55px;
}

.suptitle {
  margin-bottom: 32px;
  color: var(--text-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 40px;

  color: var(--text-dark);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2; /* 38.4px */
  letter-spacing: 0.038px;
  text-transform: uppercase;
}

.chevron-btn {
  color: var(--text-dark);
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  border: 1px solid var(--text-dark);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
  align-items: center;
  background-color: transparent;
}
.chevron-btn:hover .chevron-svg {
  transform: translatex(5px);
}

.chevron-svg {
  width: 32px;
  height: 32px;
  margin-left: 24px;
  transition: transform 100ms ease-in-out;
}
/* ==================================== //COMPONENTS ==================================== */

.nonsense-svg {
  position: fixed;
  top: 50%;
  left: 88%;
  transform: translate(-88%, -50%);
}

/* ==================================== HEADER ==================================== */

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: var(--background-header);
  backdrop-filter: blur(50px);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu {
  min-width: 830px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-dark);
}

.menu-item {
}
.menu-item:not(:last-child) {
  margin-right: 52px;
}

.menu-link {
  color: var(--text-dark);

  /* Desktop/Menu */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.017px;
}
.menu-link:hover {
  color: orange;
}

.cart-link {
  margin-left: auto;
  margin-right: 24px;
}

.cart {
  width: 24px;
  height: 22px;
}

.translate-btn {
  color: var(--text-dark);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}
.translate-btn:hover {
  color: orange;
}

/* ==================================== //HEADER ==================================== */

/* ==================================== MAIN ==================================== */
/* ==================================== HERO ==================================== */

.main-hero {
  background-color: var(--coffee);
}

.container-hero {
  width: 100%;
  background-image: url("./images/img/overlay.jpg");
  background-size: cover;
}

.hero {
  padding-top: 295px;
  padding-bottom: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  color: var(--text-light);

  font-size: 75px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.hero-text {
  color: var(--text-light);

  padding: 8px;
  width: 520px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--text-dark);

  min-width: 302px;
  min-height: 65px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 16px 104px;
  border: none;
  border-radius: 16px;
  background: var(--accent-blue);
}
.hero-btn:hover {
}

/* ==================================== //HERO ==================================== */

/* ==================================== ADVANTAGES ==================================== */
.advantages-section {
  margin-top: 80px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 24px;
}

.advantages-block {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  flex-basis: calc((100% - 24px) / 2);
  border-left: 1px solid var(--coffee);
}

.advantages-block-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.advantages-block-last {
  max-width: 628px;
  border-bottom: 1px solid var(--coffee);
  margin-top: 40px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-svg {
}

.advantages-title {
  color: var(--coffee);
  font-family: Comfortaa;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
  padding-top: 13px;
  margin-left: 16px;
}

.advantages-text {
  color: var(--text-dark);

  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.019px;
}

/* ==================================== //ADVANTAGES ==================================== */

/* ==================================== CAROUSEL ==================================== */

.carousel-section {
  margin-top: 64px;
}

.chevron-btn-carousel {
  margin-bottom: 24px;
}

.carousel-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.carousel-list-item {
  flex-basis: calc((100% - 72px) / 100);
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}
.carousel-list-item:hover {
  transform: scale(1.03);
}

.carousel-list-img {
  border-radius: 16px;
}
.carousel-list-img:hover {
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.05);
}

.carousel-slider {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* ==================================== //CAROUSEL ==================================== */

/* ==================================== INSTA BLOCK ==================================== */

.inst-section-container {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 80px;
}

.inst-block {
  display: flex;
  gap: 32px;
}

.inst-block-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inst-img {
  border-radius: 10px;
}

.inst-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inst-title {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
  margin-top: 39px;
}

.inst-text {
  color: var(--text-dark);
  width: 382px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.024px;
  margin-top: 69px;
  margin-bottom: 75px;
}

/* ==================================== //INSTA BLOCK ==================================== */

/* ==================================== FOOTER ==================================== */

.footer {
  border-top: 2px solid var(--coffee);
}

.container-footer {
  padding-left: 0;
  padding-right: 0;
  padding-top: 32px;
  padding-bottom: 16px;
}

.container-footer-secondary {
  width: 1062px;

  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 119px;
  margin-right: 119px;
}

.footer-privacy {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.footer-title {
  color: #000;

  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer-text:not(:last-child) {
  margin-bottom: 12px;
}

.subscription-title {
  margin-bottom: 27px;
}

.subscription-link-instagram {
}

.subscription-link-tiktok {
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rights-reserved {
  display: flex;
  justify-content: center;
  margin-top: 46px;
  color: var(--text-dark);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

/* ==================================== //FOOTER ==================================== */
