.chevron-btn {
  color: var(--text-dark);
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  border: 1px solid var(--text-dark);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
  align-items: center;
  background-color: transparent;
}
.chevron-btn:hover .chevron-svg {
  transform: translatex(5px);
}

.chevron-svg {
  width: 32px;
  height: 32px;
  margin-left: 24px;
  transition: transform 100ms ease-in-out;
}
