.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 100; */
  width: 100%;
  background: var(--background-header);
  backdrop-filter: blur(50px);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu {
  min-width: 830px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-dark);
}

.menu-item:not(:last-child) {
  margin-right: 52px;
}

.menu-link {
  color: var(--text-dark);

  /* Desktop/Menu */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.017px;
}
.menu-link:hover {
  color: orange;
}

.cart-link {
  margin-left: auto;
  margin-right: 24px;
}

.cart {
  width: 24px;
  height: 22px;
}

.translate-btn {
  color: var(--text-dark);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}
.translate-btn:hover {
  color: orange;
}
