.projects {
}
.projects-container {
  margin-top: 167px;
}
.projects-block {
}
.projects-block-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 23px;
}
.projects-block-item {
  flex-basis: calc((100% - 46px) / 3);
}
.projects-block-link {
}
.projects-block-img {
}
.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.projects-block-title {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2; /* 28.8px */
  letter-spacing: 0.029px;
  text-transform: uppercase;
}
.projects-block-text {
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 30px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
